.fab-right {
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.container {
    height: 100%;
}

.filtro {
    padding: 8px;
}

.content {
    overflow-y: auto;
}

.credito {
    color: green;
}

.debito {
    color: red;
}

.descricao {
    display: flex!important;
    gap: 16px;
}